<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Enviar Feedback</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="container">
        <h1>Enviar Feedback</h1>

        <form action="/feedbacks/enviar" method="POST">

            <label>Nome:</label>
            <input type="text" name="nome" required>

            <label>Comentário:</label>
            <textarea name="comentario" required></textarea>

            <button type="submit">Enviar</button>

        </form>

        <a href="/feedbacks/lista">
            Ver Feedbacks
        </a>
    </div>

</body>
</html>